<% title "Connections" %>

<table>
  <tr>
    <th>Scene</th>
    <th>Connection</th>
    <th>Direction</th>
  </tr>
  <% for connection in @connections %>
    <tr>
      <td><%= connection.scene_id %></td>
      <td><%= connection.connection_id %></td>
      <td><%= connection.direction %></td>
      <td><%= link_to "Show", connection %></td>
      <td><%= link_to "Edit", edit_connection_path(connection) %></td>
      <td><%= link_to "Destroy", connection, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Connection", new_connection_path %></p>
