<% title "Connection" %>

<p>
  <strong>Scene:</strong>
  <%= @connection.scene_id %>
</p>
<p>
  <strong>Connection:</strong>
  <%= @connection.connection_id %>
</p>
<p>
  <strong>Direction:</strong>
  <%= @connection.direction %>
</p>

<p>
  <%= link_to "Edit", edit_connection_path(@connection) %> |
  <%= link_to "Destroy", @connection, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", connections_path %>
</p>
