<% title "Scenes" %>

<p class="admin">beginning scene: <%= Scene.beginning.first.name unless Scene.beginning.blank? %></p>
<p class="admin">end scene: <%= Scene.end.first.name unless Scene.end.blank? %></p>

<table class="admin">
  <tr>
    <th>Name</th>
  </tr>
  <% for scene in @scenes %>
    <tr>
      <td><%= scene.name %></td>
      <td><%= link_to "Show", scene %></td>
      <td><%= link_to "Edit", edit_scene_path(scene) %></td>
      <td><%= link_to "Destroy", scene, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to "New Scene", new_scene_path, :class => "admin" %>
