<% title @scene.name %>
  <div id="scene">
    <div id="wall_l" class="ui"><%= image_tag @scene.left_wall.url(:full) %></div>
    <div id="wall_r" class="ui"><%= image_tag @scene.right_wall.url(:full) %></div>
    <div id="floor" class="ui"><%= image_tag @scene.floor.url(:full) %></div>
  <div id="player" class="ui"></div>
  <% @scene.scene_objects.each do |o| %>
    <%= content_tag :div, 'scene_object_id' => o.id, :class => 'ui' do %>
      <%= image_tag o.image.url(:screen) %>
    <% end %>
  <% end %>
  <div id="compass" class="ui"></div>
  <div id="menu" class="ui">
    <div id="heart"><div id="beats"><%= current_user.beats %></div></div>
    <ul id="nav_wrapper">
      <li>
        <ul>
          <li id="move" class="nav"><a href="#">Move</a>
            <ul class="move_subnav">
              <% @scene.nections.each do |n| %>
                <li><%= link_to n.label_or_direction, "/scene/move?direction=#{n.direction}&scene_id=#{@scene.id}" %></li>
              <% end %>
            </ul>
          </li>                
          <li id="search" class="nav"><%= link_to "Search", "/scene/search?scene_id=#{@scene.id}}" %> 
          </li>
        </ul>
      </li>   
    </ul>
  </div>
</div>

<% if !@scene.user_scene_states.find_by_user_id(current_user.id).blank? && current_user.admin? %>
  (<%= @scene.user_scene_states.find_by_user_id(current_user.id).searchable? %>)
<% end %>
<%= link_to "Edit", edit_scene_path(@scene) if can? :edit, @scene %> |
<%= link_to "Destroy", @scene, :confirm => 'Are you sure?', :method => :delete if can? :destroy, @scene %> |
<%= link_to "View All", scenes_path if signed_in? && current_user.admin? %>