<% title "Scene" %>
  <strong>Name:</strong>
  <%= @scene.name %> - 
  <ul>
    <% @scene.nections.each do |n| %>
      <li><%= link_to n.direction, scene_path(n.adjacent) %></li>
    <% end %>
  </ul>

<%= image_tag @scene.floor.url(:full) %>
<%= image_tag @scene.left_wall.url(:full) %>
<%= image_tag @scene.right_wall.url(:full) %>

<p>
  <%= link_to "Edit", edit_scene_path(@scene) %> |
  <%= link_to "Destroy", @scene, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", scenes_path %>
</p>
