<% title @scene.name %>
  <div id="scene">
    <div id="wall_l" class="ui"><%= image_tag @scene.left_wall.url(:full) %></div>
    <div id="wall_r" class="ui"><%= image_tag @scene.right_wall.url(:full) %></div>
    <div id="floor" class="ui"><%= image_tag @scene.floor.url(:full) %></div>
  <div id="player" class="ui"></div>
  <% @scene.scene_objects.each do |o| %>
    <%= content_tag :div, 'scene_object_id' => o.id, :class => 'ui' do %>
      <%= image_tag o.image.url(:screen) %>
    <% end %>
  <% end %>
  <div class="directions">
    <div id="north" class="ui"><%= link_to @north.label_or_direction, "/scene/move?direction=#{@north.direction}&scene_id=#{@scene.id}" if @north %></div>
    <div id="east" class="ui"><%= link_to @east.label_or_direction, "/scene/move?direction=#{@east.direction}&scene_id=#{@scene.id}" if @east %></div>
    <div id="south" class="ui"><%= link_to @south.label_or_direction, "/scene/move?direction=#{@south.direction}&scene_id=#{@scene.id}" if @south %></div>
    <div id="west" class="ui"><%= link_to @west.label_or_direction, "/scene/move?direction=#{@west.direction}&scene_id=#{@scene.id}" if @west %></div>
  </div>
  <div class="ui"></div>
  <div id="menu" class="ui">
    <div id="heart"><div id="beats"><%= current_user.beats %></div></div>
  </div>
</div>

<% if !@scene.user_scene_states.find_by_user_id(current_user.id).blank? && current_user.admin? %>
  (<%= @scene.user_scene_states.find_by_user_id(current_user.id).searchable? %>)
<% end %>
<%= link_to "Edit", edit_scene_path(@scene) if can? :edit, @scene %> |
<%= link_to "Destroy", @scene, :confirm => 'Are you sure?', :method => :delete if can? :destroy, @scene %> |
<%= link_to "View All", scenes_path if signed_in? && current_user.admin? %>