<%= form_for @nection do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :scene_id %><br />
    <%= f.select :scene_id, Scene.all.collect {|s| [s.name, s.id ]} %>
  </div>
  <div class="field">
    <%= f.label :direction %><br />
    <%= f.select :direction, options_for_select([["north (UR)", "north"], ["south (LL)", "south"], ["east (LR)", "east"], ["west (UL)", "west"]], @nection.direction) %>
  </div>
  <div class="field">
    <%= f.label :adjacent_id %><br />
    <%= f.select :adjacent_id, Scene.all.collect {|s| [s.name, s.id ]} %>
  </div>
  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <%= f.submit %>
<% end %>