<% title "Nection" %>

<p>
  <strong>Scene:</strong>
  <%= @nection.scene.name if @nection.scene %>
</p>
<p>
  <strong>Adjacent:</strong>
  <%= @nection.adjacent.name if @nection.adjacent %>
</p>
<p>
  <strong>Direction:</strong>
  <%= @nection.direction %>
</p>
<p>
  <strong>Label:</strong>
  <%= @nection.label %>
</p>

<p>
  <%= link_to "Edit", edit_nection_path(@nection) %> |
  <%= link_to "Destroy", @nection, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", nections_path %>
</p>
